/* Global styles */
html {
    scroll-behavior: smooth; /* Smooth scrolling behavior */
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #080808;
    width: 100%; /* Ensure full width */
}

/* Header */
header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: black;
}

.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Hero content */
.hero-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    max-width: 100%;
    opacity: 0; /* Initially hide the content */
    transition: opacity 1s ease, transform 1s ease; /* Apply transition */
    transform: translateY(20px); /* Initial translateY value */
}

/* Add a class to trigger the transition */
.hero-content.show {
    opacity: 1;
    transform: translateY(0);
}

.hero-content img {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

.hero-content h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}

.hero-content p {
    font-size: 24px;
    color: #f6df91;
}

/* Top bar */
.top-bar {
    position: absolute;
    top: 0;
    width: calc(100% - 6em); /* Calculate width with margins */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 100;
    left: 3em; /* Left margin */
    right: 3em; /* Right margin */
}

/* Contact info and social media */
.top-bar .contact-info {
    color: white;
    font-size: 16px;
}

.top-bar .social-media {
    display: flex;
    gap: 20px;
}

.top-bar .social-media a img {
    width: 24px;
    height: 24px;
}

.top-bar .social-media a img:hover {
    transform: scale(1.2); /* Scale up on hover */
}

/* Navigation */
nav {
    position: fixed;
    width: 100%;
    top: 5%;
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
}

.mobile-menu-bar {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 20px 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f6df91;
    transition: width .3s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}

/* Section styles */
section {
    padding: 100px 50px;
    text-align: center;
    height: auto;
    position: relative;
    overflow: hidden;
    clear: both;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.50em;
    color: #ecdfb1;
}

/* About us section */
#about {
    height: auto;
    background-color: rgb(32, 32, 32);
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image,
.text {
    flex: 1;
    padding: 50px;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 40px;
    transition: transform 0.3s ease;
}

.image img:hover {
    transform: scale(1.1);
}

.text {
    text-align: justify;
    font-size: 1.275em;
    line-height: 1.6;
}

.text p {
    margin: 0;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    .about-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .image,
    .text {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .image img {
        margin-bottom: 20px;
    }

    /* Other styles for smaller screens */
}
